<% @date = DateTime %>
<div class="row">
  <div class="col-xs-12">
      <div class="well well-lg">
        <div class = "pen-body">
          <% if @pens.present? %>
          <div id="pens-tables">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th scope="col">Pen</th>
                  <th scope="col">Total</th>
                  <th scope="col">Pull</th>
                  <th scope="col">Dead</th>
                  <th scope="col">Feed</th>
                  <th scope="col">Water</th>
                  <th scope="col">Mud</th>
                  <th scope="col">Maintenance</th>
                  <th scope="col">Last Updated</th>
                  <th scope="col">Modify</th>
                </tr>
              </thead>
              <tbody>

              <% obj.each do |pen| %>
               <tr scope="row">
                <td><%= pen.num %></td>
                <td><%= pen.total_num %></td>
                <% @activity_today =  @activities.where(pen_id: pen.id).where("created_at > ?", @date.now.beginning_of_day).last %>
                <% @activity_last =  @activities.where(pen_id: pen.id).last %>
                <% if @activity_today.present? %>
                  <td><%= @activity_today.pen_pull_num %></td>
                  <td><%= @activity_today.pen_dead_num %></td>
                  <td><% if @activity_today.pen_feed_check %><div class="acceptable">&#10003</div><% else %><div class="unacceptable">&#9888</div><% end %></td>
                  <td><% if @activity_today.pen_water_check %><div class="acceptable">&#10003</div><% else %><div class="unacceptable">&#9888</div><% end %></td>
                  <td><% if @activity_today.pen_mud_check %><div class="acceptable">&#10003</div><% else %><div class="unacceptable">&#9888</div><% end %></td>
                  <td><% if @activity_today.pen_maintenance_check %><div class="unacceptable">&#9888</div><% else %><div class="acceptable">&#10003</div><% end %></td>
                  <td><%= @activity_today.created_at.to_s(format = :long) %></td>
                <% elsif @activity_last.present? %>
                  <td><%= @activity_last.pen_pull_num %></td>
                  <td><%= @activity_last.pen_dead_num %></td>
                  <td><div class="unknown">&#63</div></td>
                  <td><div class="unknown">&#63</div></td>
                  <td><div class="unknown">&#63</div></td>
                  <td><% if @activity_last.pen_maintenance_check %><div class="unacceptable">&#9888</div><% else %><div class="acceptable">&#10003</div><% end %></td>
                  <td><%= @activity_last.created_at.to_s(format = :long) %></td>
                <% else %>
                  <td><small> - </small></td>
                  <td><small> - </small></td>
                  <td><small> - </small></td>
                  <td><small> - </small></td>
                  <td><small> - </small></td>
                  <td><small> - </small></td>
                  <td><small> - </small></td>
                <% end %>
                <td><%= link_to "Detail", pen_path(pen.id), class:"btn btn-xs btn-primary"%>
              <% end %>
            </tbody>
            </table>
          </div>

          <% else %>
          <div class="empty" >
          There is no pen in the record.
          </div>
          <% end %>

         </div>
      </div>
    </div>
  </div>
