<h1 align="center">All Users</h1>
<div align="center"><%= will_paginate %></div>
<% if current_user.admin == 1%>
<div class="form-group">
  <div class="col-sm-12">
    <div class="btn">
      <%= link_to "Add", new_user_path, class: 'btn btn-primary btn-lg'%>
    </div>
</div>
</div>
<% end %>

<div align="center">
  <% @users.each do |user| %>
    <div class="user-box well well-lg">
      <div class="table">
        <table>
          <tr scope="row"><td><%= link_to gravatar_for(user), user_path(user) %></td></tr>
          <tr scope="row"><td><h4>
            <%= link_to(user) do %>
            <%= user.first_name %> <%= user.last_name %>
            <% end %>
          </h4></td></tr>
          <tr scope="row"><td><hr /></td></tr>
          <% if user.admin == 1  %>
            <tr scope="row"><td><small>Administrator</small></td></tr>
          <% end %>
          <% if user.cowboy == 1  %>
            <tr scope="row"><td><small>Animal Technician</small></td></tr>
          <% end %>
          <% if user.handy == 1  %>
            <tr scope="row"><td><small>Yard Technician</small></td></tr>
          <% end %>
          <% if user.doctor == 1  %>
            <tr scope="row"><td><small>Medical Technician</small></td></tr>
          <% end %>
          <% if user.admin != 1  && user.cowboy != 1  && user.handy != 1  && user.doctor != 1 %>
            <tr scope="row"><td><small>None</small></td></tr>
          <% end %>
          <tr scope="row"><td><hr /></td></tr>
          <tr scope="row"><td>
            <small><%= pluralize(user.activities.count, "activity") if user.activities %></small>
          </td></tr>
        </table>
      </div>
    </div>
  <% end %>
<div align="center"><%= will_paginate %></div>
