<div class="row">
<div align="center">
<% if @medical_calls.present? %>
  <% obj.each do |medical_call| %>
    <% @pen = @pens.find(medical_call.pen_id) %>
    <% @user = @users.find(medical_call.user_id) %>
    <div class="medical_call-box well well-lg">
      <div class="table">
        <table>
          <tr scope="row"><td><h4 align="center"> Pen #<%= @pen.num %></h4> </td></tr>
          <tr scope="row"><td><hr /></td></tr>
          <tr scope="row"><td><small align="center">Submitted by<small></td></tr>
          <tr scope="row"><td>
            <%= link_to(@user ) do %>
            <%= @user.first_name %> <%= @user.last_name %>
            <% end %>
            </td>
          <tr scope="row"><td><hr /></td></tr>
          <tr scope="row"><td><small align="center"><%= medical_call.created_at.to_s(format = :long)%><small></td></tr>
          <tr scope="row"><td><br /></td></tr>
          <tr scope="row"><td>
            <%= form_for(@new_medical_call, :html => {class: "form-horizontal", role: "form"}) do |f| %>
            <%= f.hidden_field :resolved, :value => true %>
            <%= f.hidden_field :activity_id, :value => medical_call.id %>
            <%= f.submit "Resolved",class: 'btn btn-success btn-lg' %>
            <% end %>
            </td></tr>
        </table>
      </div>
    </div>
  <% end %>
</div>

<% else %>
  <div class="well well-lg">
    <div class="empty" > No medical request</div>
  </div>
<% end %>
</div>
