<% obj.each do |activity| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
            <div class="activity-title">
                Pen # <%= link_to activity.pen_id, activity_path(activity) %>
            </div>
            <div class="activity-body">
              <div>
                Total #: <%= activity.total_num %> |
                Pull(s) #: <%= activity.pull_num %> |
                Dead(s) #: <%= activity.dead_num %>
              </div>
              <div>
                Feed? <% if activity.feed_check == true %>
                  CHECKED |
                  <% else %>
                  unchecked |
                  <% end %>
                Water? <% if activity.water_check == true %>
                  CHECKED |
                  <% else %>
                  unchecked |
                  <% end %>
                Mud? <% if activity.mud_check == true %>
                  CHECKED |
                  <% else %>
                  unchecked |
                  <% end %>
                Need Maintenance? <% if activity.maintenance_check == true %>
                  YES
                  <% else %>
                  no
                  <% end %>
              </div>

                <div class="activity-meta-details">
                  <small> Animal Technician: <%= activity.user.username if activity.user%>,
                                   Check-in time: <%= time_ago_in_words(activity.check_in) %> ago,
                                   Check-out time:  <%= time_ago_in_words(activity.check_out) %> ago
                  </small>
                </div>
            </div>
            <% if logged_in? && (current_user == activity.user || current_user.admin?) %>
             <div class="activity-actions">
                 <%= link_to "Edit this activity", edit_activity_path(activity),
                                          class:"btn btn-xs btn-primary"%> |
                 <%= link_to "Delete this activity", activity_path(activity),
                                           method: :delete, data: {confirm: "Are you sure?"},
                                           class:"btn btn-xs btn-danger" %>
             </div>
            <% end %>
        </div>
    </div>
</div>
 <% end %>


<%= link_to "Back to home", root_path%>
