<div class="row">
  <div class="col-xs-12">
      <div class="well well-lg">
        <div class = "activity-body">
          <% if @activities.present? or @user_activities.present? or @pen_activities.present?%>
          <div id="activities-tables">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th scope="col">Pen</th>
                  <th scope="col">User</th>
                  <th scope="col">Pull</th>
                  <th scope="col">Dead</th>
                  <th scope="col">Feed</th>
                  <th scope="col">Water</th>
                  <th scope="col">Mud</th>
                  <th scope="col">Maintenance</th>
                  <th scope="col">Check-in</th>
                  <th scope="col">Check-out</th>
                </tr>
              </thead>
              <tbody>
              <% obj.each do |activity| %>
               <% @user = @users.find(activity.user_id) %>
               <% @pen = @pens.find(activity.pen_id) %>
               <tr scope="row">
                <td>
                  <%= link_to(@pen) do %>
                  <%= activity.pen_id %>
                  <% end %>
                  </td>
                <td>
                  <%= link_to(@user) do %>
                  <%= @user.first_name %> <%= @user.last_name %>
                  <% end %>
                  </td>
                </td>
                <td><%= activity.pen_pull_num %></td>
                <td><%= activity.pen_dead_num %></td>
                <td><% if activity.pen_feed_check == 1 %><div class="acceptable">&#10003</div><% else %><div class="unacceptable">&#9888</div><% end %></td>
                <td><% if activity.pen_water_check == 1%><div class="acceptable">&#10003</div><% else %><div class="unacceptable">&#9888</div><% end %></td>
                <td><% if activity.pen_mud_check == 1%><div class="acceptable">&#10003</div><% else %><div class="unacceptable">&#9888</div><% end %></td>
                <td><% if activity.pen_maintenance_check == 1%><div class="unacceptable">&#9888</div><% else %><div class="acceptable">&#10003</div><% end %></td>
                <td><%= activity.check_in.to_s(format = :long)  %></td>
                <td><%= activity.created_at.to_s(format = :long) %></td>
              </tr>
            <% end %>
            </tbody>
            </table>
          </div>

          <% else %>
          <div class="empty" >
          No activities
          </div>
          <% end %>

         </div>
      </div>
    </div>
  </div>
