<%= render 'shared/errors', obj: @activity%>

<div class='row'>
    <div class='col-xs-12'>
      <%= form_for(@activity, :html => {class: "form-horizontal", role: "form"}) do |f| %>
          <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :"Pen#", class: "form-label"%>
              </div>
              <div class="col-sm-8">
                <!-- <%= f.number_field :pen_id, class: "form-control", placeholder: "Enter the pen number", autofocus: true%>
                -->
                <%= f.select :pen_id, Pen.all.collect { |p| [ p.num, p.id ] }, :class => 'genForm_dropBox' %>
              </div>
          </div>

            <!--
            Pen.all.collect { |p| [ p.id, p.num ] }
            -->

          <div class="form-hidden">
              <div>
                <%= f.label :"Check in"%><br/>
              </div>
              <div>
                <%= f.time_select :check_in, class: "form-control"%>
              </div>
          </div>

          <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :"Pull(s)#"%>
              </div>
              <div class="col-sm-8">
                <%= f.number_field :pen_pull_num, class: "form-control", placeholder: "Enter the number of sick animal(s)"%>
              </div>
          </div>

          <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :"Dead(s)#"%>
              </div>
              <div class="col-sm-8">
                <%= f.number_field :pen_dead_num, class: "form-control", placeholder: "Enter the number of dead animal(s)"%>
              </div>
          </div>

          <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :"Food Status" %><br/>
              </div>
              <div class="control-content col-sm-10">
                  <div class="row">
                    <div class="col-sm-5">
                      Acceptable <%= f.radio_button :pen_feed_check, "1"%>
                    </div>
                    <div class="col-sm-5">
                      Unacceptable <%= f.radio_button :pen_feed_check, "0", :checked => true %>
                    </div>
                  </div>
              </div>
          </div>

          <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :"Water Status" %><br/>
              </div>
              <div class="control-content col-sm-10">
                  <div class="row">
                    <div class="col-sm-5">
                      Acceptable <%= f.radio_button :pen_water_check, "1"%>
                    </div>
                    <div class="col-sm-5">
                      Unacceptable <%= f.radio_button :pen_water_check, "0", :checked => true %>
                    </div>
                  </div>
              </div>
          </div>

          <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :"Mud Status" %><br/>
              </div>
              <div class="control-content col-sm-10">
                  <div class="row">
                    <div class="col-sm-5">
                      Acceptable <%= f.radio_button :pen_mud_check, "1"%>
                    </div>
                    <div class="col-sm-5">
                      Unacceptable <%= f.radio_button :pen_mud_check, "0", :checked => true %>
                    </div>
                  </div>
              </div>
          </div>

          <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :"Maintenance?" %><br/>
              </div>
              <div class="control-content col-sm-10">
                  <div class="row">
                    <div class="col-sm-5">
                      Needed <%= f.radio_button :pen_maintenance_check, "1"%>
                    </div>
                    <div class="col-sm-5">
                      Not Needed <%= f.radio_button :pen_maintenance_check, "0", :checked => true %>
                    </div>
                  </div>
              </div>
          </div>


        <div class="form-group">
          <div class="col-sm-12">
            <%= f.submit "Check-out", class: 'btn btn-primary btn-lg' %>
            <div class="btn">
            <%= link_to "Cancel", activities_path, class: 'btn btn-warning btn-lg'%>
            </div>
          </div>
        <% end %>
    </div>
</div>
