<%= render 'shared/errors', obj: @activity%>

<div class='row'>
    <div class='col-xs-12'>
      <%= form_for(@activity, :html => {class: "form-horizontal", role: "form"}) do |f| %>
          <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :"Pen#", class: "form-label"%>
              </div>
              <div class="col-sm-8">
                <!-- <%= f.number_field :pen_id, class: "form-control", placeholder: "Enter the pen number", autofocus: true%>
                -->
                <%= f.select :pen_id, Pen.all.collect { |p| [ p.num, p.id ] }, :class => 'genForm_dropBox' %>
              </div>
          </div>

            <!--
            Pen.all.collect { |p| [ p.id, p.num ] }
            -->

          <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :"Check in"%><br/>
              </div>
              <div class="col-sm-8">
                <%= f.time_select :check_in, class: "form-control"%>
              </div>
          </div>

          <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :"Check out"%><br/>
              </div>
              <div class="col-sm-8">
                <%= f.time_select :check_out, class: "form-control"%>
              </div>
          </div>

          <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :"Pull(s)#"%>
              </div>
              <div class="col-sm-8">
                <%= f.number_field :pen_pull_num, class: "form-control", placeholder: "Enter the number of sick animal(s)"%>
              </div>
          </div>

          <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :"Dead(s)#"%>
              </div>
              <div class="col-sm-8">
                <%= f.number_field :pen_dead_num, class: "form-control", placeholder: "Enter the number of dead animal(s)"%>
              </div>
          </div>

          <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :"Feed OK?" %><br/>
              </div>
              <div class="col-sm-8">
                <%= f.check_box :pen_feed_check, {class: "form-checkbox"}, "true", "false" %>
              </div>
          </div>

          <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :"Water OK?" %><br/>
              </div>
              <div class="col-sm-8">
                <%= f.check_box :pen_water_check, {class: "form-checkbox"}, "true", "false" %>
              </div>
          </div>

          <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :"Mud OK?" %><br/>
              </div>
              <div class="col-sm-8">
                <%= f.check_box :pen_mud_check, {class: "form-checkbox"}, "true", "false" %>
              </div>
          </div>

          <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :"Need Maintenance?" %><br/>
              </div>
              <div class="col-sm-8">
                <%= f.check_box :pen_maintenance_check, {class: "form-checkbox"}, "true", "false" %>
              </div>
          </div>


        <div class="form-group">
          <div class="col-sm-12">
            <%= f.submit class: 'btn btn-primary btn-lg' %>
            <div class="btn">
            <%= link_to "Cancel", activities_path, class: 'btn btn-warning btn-lg'%>
            </div>
          </div>
        <% end %>
    </div>
</div>
